# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt

In [2]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
t_test = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [3]:
# Convert the date column format from string to datetime
df['date'] = pd.to_datetime(df['date'])
df.dtypes

station            object
date       datetime64[ns]
prcp              float64
tobs                int64
dtype: object

In [4]:
# Set the date column as the DataFrame index
df = df.set_index('date')

In [5]:
# Drop the date column
# df = df[['station','prcp','tobs']]
# df

### Compare June and December data across all years

In [6]:
from scipy import stats

import statistics as st

In [7]:
# Filter data for desired months
df['month'] = pd.DatetimeIndex(df.index).month
june = df.loc[(df['month'] == 6)]
# june = june.dropna()
dec = df.loc[(df['month'] == 12)]
# dec = dec.dropna()

In [8]:
# Identify the average temperature for June
j_mean = st.mean(june['tobs'])
j_mean

74.94411764705882

In [9]:
# Identify the average temperature for December
d_mean = st.mean(dec['tobs'])
d_mean

71.04152933421226

In [11]:
# Create collections of temperature data

In [23]:
# Run paired t-test

           station        date  prcp  tobs  month
133    USC00519397  2010-06-01  0.00    78      6
134    USC00519397  2010-06-02  0.01    76      6
135    USC00519397  2010-06-03  0.00    78      6
136    USC00519397  2010-06-04  0.00    76      6
137    USC00519397  2010-06-05  0.00    77      6
...            ...         ...   ...   ...    ...
19492  USC00516128  2017-06-26  0.02    79      6
19493  USC00516128  2017-06-27  0.10    74      6
19494  USC00516128  2017-06-28  0.02    74      6
19495  USC00516128  2017-06-29  0.04    76      6
19496  USC00516128  2017-06-30  0.20    75      6

[1700 rows x 5 columns]

### Analysis